# 0704 윤성찬

In [12]:
# 61 : Average

num_list=[]
sum = 0
while True:
    a = int(input())
    num_list.append(a)
    sum = sum + a
    if num_list[0] is 0:
        print("처음부터 0이여?")
        break
    else: 
        if a ==0:
            print('==================')
            print('0을 입력받았습니다.')
            print('==================')
            print('average : ',sum/(len(num_list)-1))
            break
        else:
#             num_list.append(a)
            continue

1
2
3
4
0
==================
0을 입력받았습니다.
==================
average :  2.5

In [87]:
# 63 : Temperature Conversion Table

for c in range(0,101,10):
    f = (c*1.8) + 32
    print("섭씨 : ",c,"\t화씨 : ",f)

섭씨 :  0 	화씨 :  32.0
섭씨 :  10 	화씨 :  50.0
섭씨 :  20 	화씨 :  68.0
섭씨 :  30 	화씨 :  86.0
섭씨 :  40 	화씨 :  104.0
섭씨 :  50 	화씨 :  122.0
섭씨 :  60 	화씨 :  140.0
섭씨 :  70 	화씨 :  158.0
섭씨 :  80 	화씨 :  176.0
섭씨 :  90 	화씨 :  194.0
섭씨 :  100 	화씨 :  212.0

In [6]:
# 66 : Compute a Grade Point Average
def f(x):
    return {'A+': 4.0,'A':4.0,'A-':3.7,'B+':3.3,'B':3.0,'B-':2.7,
            'C+':2.3,'C':2.0,'C-':1.7,'D+':1.3,'D-':1.0,'F':0}[x]

grade_sum = 0.0
count = 0
while True:
    a = input()
    if a in '':
        print('엔터를 입력받았습니다.')
        print('평균 학점은 ? ',grade_sum/count)
        break
    else: 
        count += 1 
        grade_sum += f(a)

A
A
A
A

엔터를 입력받았습니다.
평균 학점은 ?  4.0

In [14]:
# Exercise 67 : Admission Price
price = 0.0
while True:
    a = input()
    if a in '':
        print('총 입장료 값은 : $',format(price,".2f"),'입니다.')
        break
    else:
        a = int(a)
        if a <= 2:
            print("2세 이하이므로 무료입니다.")
        elif 3 <= a <=12:
            print("2~12세는 $14 입니다.")
            price += 14
        elif 13 <= a <= 64:
            print("기본요금은 $23 입니다.")
            price +=23
        else:
            print("65세 이상은 $18 입니다.")
            price += 18

65
65세 이상은 $18 입니다.
64
기본요금은 $23 입니다.
100
65세 이상은 $18 입니다.
2
2세 이하이므로 무료입니다.
1
2세 이하이므로 무료입니다.
4
2~12세는 $14 입니다.

총 입장료 값은 : $ 73.00 입니다.

In [3]:
# Exercise 72 : Is a String a Palindrome?

while True:
    a = input()
    if a in '':
        print('종료합니다.')
        break
    else:
        len_a = len(a)
        for i in range(int(len_a/2)):
            if a[i] != a[len_a-1-i]:
                flag = False
            else:
                flag = True
        print(flag)

aba
True
aaaaabbbbb
False
abbbbbbbbba
True
civic
True

종료합니다.

In [89]:
# Exercise 74 : Multiplication Table

for k in range(1,11):
    if k is 1:
        print(" ", end ="\t")
    print(k, end="\t")
print()
for i in range(1,11):
    print(i, end="\t")
    for j in range(1,11):
        if j == 10:
            print(i*j)
        else: 
            print(i*j, end="\t")

 	1	2	3	4	5	6	7	8	9	10
1	1	2	3	4	5	6	7	8	9	10
2	2	4	6	8	10	12	14	16	18	20
3	3	6	9	12	15	18	21	24	27	30
4	4	8	12	16	20	24	28	32	36	40
5	5	10	15	20	25	30	35	40	45	50
6	6	12	18	24	30	36	42	48	54	60
7	7	14	21	28	35	42	49	56	63	70
8	8	16	24	32	40	48	56	64	72	80
9	9	18	27	36	45	54	63	72	81	90
10	10	20	30	40	50	60	70	80	90	100

In [81]:
# Exercise 75 : Greatest Common Divisor
# 최대공약수 구하기

n = int(input('first > '))
m = int(input('second > '))

d = min(n,m)

for i in range(d, 0, -1):
    if n%i ==0 and m%i ==0:
        print(i)
        break

first > 6
second > 8
2

In [16]:
# Exercise 77 : Binary to Decimal

a = input()
print('10진수로 변환한 값은 : ' , int(a,2))

1111
10진수로 변환한 값은 :  15

In [23]:
# Exercise 78 : Decimal to Binary

result = ''
q = int(input())
while True:
    r = q%2
    if r is 0:
        result+='0'
    else:
        result+='1'
    q = int(q/2)
    if q is 0:
        print('2진수로 변환한 값은 : ', result)
        break

233
2진수로 변환한 값은 :  10010111