# Relationship

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite://",echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
Base = declarative_base()

In [5]:
from sqlalchemy import Column, Integer, String, ForeignKey

In [6]:
from sqlalchemy.orm import relationship

### 기본적으로 N:M 관계 = 리스트 타입
- uselist = True 가 기본 값.
- uselist = False 이면 1:n관계가 생성됨

In [7]:
class Artist(Base):
    __tablename__="artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    album = relationship("Album", back_populates="artist")              # Albumdp 가면 artist라는 애가 있어. 
    
    # 생성자나 함수들을 선언해주면 좋다.
    def __repr__(self):
        return "<T'artist(name='%s')>" % (self.name)
    
class Album(Base):
    __tablename__="album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("artist.id"))                             # uselist = False => 1:n 관계가 생겨버림.
    artist= relationship("Artist", back_populates="album", uselist=False)            # Artist에가면 album이라는 애가 있어
    
class Genre(Base):
    __tablename__="genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)

class Track(Base):
    __tablename__="track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    album_id = Column(Integer, ForeignKey("album.id"))
    genre_id = Column(Integer, ForeignKey("genre.id"))

In [8]:
Base.metadata.create_all(engine)

2018-07-12 10:37:59,230 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:37:59,234 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,236 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:37:59,237 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,239 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-12 10:37:59,240 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,242 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-12 10:37:59,243 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,244 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-12 10:37:59,245 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,247 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-12 10:37:59,248 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,251 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-12 10:37:59,252 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,254 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-12 10:37:59,255 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-12 10:37:59,256 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,258 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-12 10:37:59,259 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES artist (id)
)


2018-07-12 10:37:59,260 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,261 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-12 10:37:59,263 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id INTEGER NOT NULL,
	title VARCHAR,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES album (id),
	FOREIGN KEY(genre_id) REFERENCES genre (id)
)


2018-07-12 10:37:59,264 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,265 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
artist1 = Artist(name = "Led Zepplin")
artist2 = Artist(name = "AC/DC")

In [11]:
artist1.album = [Album(title = "IV"),Album(title="Who Made Who")]

In [12]:
artist1.album

In [13]:
from sqlalchemy.orm import sessionmaker

In [14]:
Session = sessionmaker(bind=engine)

In [15]:
session = Session()

In [27]:
session.add(artist1)

In [28]:
session.commit()

2018-07-12 10:45:19,495 INFO sqlalchemy.engine.base.Engine UPDATE album SET title=? WHERE album.id = ?
2018-07-12 10:45:19,496 INFO sqlalchemy.engine.base.Engine ('test', 1)
2018-07-12 10:45:19,498 INFO sqlalchemy.engine.base.Engine COMMIT

### 리스트 단위기 때문에 맞는 형식으로 받아와야 한다.

In [34]:
print(type(artist1.album))

<class 'sqlalchemy.orm.collections.InstrumentedList'>

In [33]:
print(artist1.id,artist1.name, artist1.album[0].title)

2018-07-12 10:45:39,022 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-12 10:45:39,024 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
WHERE artist.id = ?
2018-07-12 10:45:39,025 INFO sqlalchemy.engine.base.Engine (1,)
2018-07-12 10:45:39,027 INFO sqlalchemy.engine.base.Engine SELECT album.id AS album_id, album.title AS album_title, album.artist_id AS album_artist_id
FROM album
WHERE ? = album.artist_id
2018-07-12 10:45:39,028 INFO sqlalchemy.engine.base.Engine (1,)
1 Led Zepplin test123123

### 수정도 간단함ㅋㅋ

In [30]:
artist1.album[0].title = "test123123"

In [31]:
session.add(artist1)

In [32]:
session.commit()

2018-07-12 10:45:36,040 INFO sqlalchemy.engine.base.Engine UPDATE album SET title=? WHERE album.id = ?
2018-07-12 10:45:36,042 INFO sqlalchemy.engine.base.Engine ('test123123', 1)
2018-07-12 10:45:36,043 INFO sqlalchemy.engine.base.Engine COMMIT

### 이렇게 클래스를 선언만 하면 DB 작업이 매우 간단해진다.
- pk가 누구고 fk가 누군지만,
- relationship 만 표현만 하면 orm이 알아서 해줄거임
- 우리는 그냥 session 작업만 해서 commit만 하면 끝이자너 ㅋㅋ쩔지