- 오늘 할 내용은 매우 어려움
- 맵리듀스를 하려면? 함수형 기법을 사용함.
- 오늘은 함수형 기법 맛보기를 할거임!
- [람다]
  - 식이다. 구문이 아닌 expression 만 함수의 인자로 들어갈 수 있음

- python에서는 return을 안써도됨

In [3]:
# def 있는 부분이 헤드라고 함.
# python에서는 인자가 없는 것을 되게 싫어해.

def moon_sun():
    pass        #형태만 적을 때는 요렇게 간단하게 pass로 구현한다.

In [21]:
def moon_sun():
    return 0

In [11]:
def moon_sun():
    print(0)
#     return None 이 숨어있다!

### 에러가 나는이유 ??
- return을 하면 식으로 되버리고
- print를 하면 문으로 출력하기 때문.

In [22]:
1+moon_sun()

1

In [13]:
import dis

In [14]:
type(dis)

module

In [19]:
dir(dis)

['Bytecode',
 'COMPILER_FLAG_NAMES',
 'EXTENDED_ARG',
 'FORMAT_VALUE',
 'HAVE_ARGUMENT',
 'Instruction',
 '_Instruction',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_disassemble_bytes',
 '_disassemble_str',
 '_format_code_info',
 '_get_code_object',
 '_get_const_info',
 '_get_instructions_bytes',
 '_get_name_info',
 '_have_code',
 '_test',
 '_try_compile',
 '_unpack_opargs',
 'cmp_op',
 'code_info',
 'collections',
 'dis',
 'disassemble',
 'disco',
 'distb',
 'findlabels',
 'findlinestarts',
 'get_instructions',
 'hascompare',
 'hasconst',
 'hasfree',
 'hasjabs',
 'hasjrel',
 'haslocal',
 'hasname',
 'hasnargs',
 'io',
 'opmap',
 'opname',
 'pretty_flags',
 'show_code',
 'stack_effect',
 'sys',
 'types']

### 내부적인 구조를 알 고 싶을 때에는 dis를 사용해본다.

In [23]:
dis.dis(moon_sun)

  2           0 LOAD_CONST               1 (0)
              2 RETURN_VALUE

### 파라메터와 아규멘트의 차이

def moon_sun(x,y):          <----- x,y는 파라메터
    return x,y
    
moon_sun(1,2)               <----- 1,2는 아규멘트

### positional 방식
- 순서대로 파라메터와 아규멘트끼리 짝을 이루는 것.

In [24]:
def moon_sun(x,y):
    return x,y

In [28]:
moon_sun(1,2)

(1, 2)

### Keyword 방식
- 순서를 안맞추고 해당 변수의 값을 지정하는 방법

In [27]:
moon_sun(y=1,x=2)

(2, 1)

### 파라메터 자리에 *을 넣으면 나머지 모든 애들을 의미한다.
- *의 의미는 '나머지'
- 함수의 파라메터 자리에서 *는 무조건 뒤에 써야한다. 중간에 쓰면 안 된다.
  - 예외 : *가 중간에 있을 시, 키워드를 붙여주면 괜찮다.

In [33]:
def moon_sun(x,*y,z):
    return x,y,z

In [35]:
moon_sun(1,2,3,4,5,6,11,7,8,z=9)

(1, (2, 3, 4, 5, 6, 11, 7, 8), 9)

In [165]:
def moon_sun(x,*y):
    return x,y

In [64]:
moon_sun(1,2,3,4,5,6)

(1, (2, 3, 4, 5, 6))

In [65]:
moon_sun(1,(2,3,4,5,6))

(1, ((2, 3, 4, 5, 6),))

- 별 * 뒤에 다 들어갈 수 있지만 한가지 예외가 있음
- dictionary!! 
- dictionary 일 때 키워드가 숫자ㄴㄴㄴㄴ

통째로 들어가게 하려면 요렇게 사용해라.

In [166]:
moon_sun(1, *[2,3,4,5,6])

(1, (2, 3, 4, 5, 6))

In [70]:
moon_sun(1, *"aaaaaa")

(1, ('a', 'a', 'a', 'a', 'a', 'a'))

In [83]:
list({1,2,3,4})

[1, 2, 3, 4]

### 함수 헤더에 **가 있을 때, 결과보면 딕셔너리로 들어간다.

In [84]:
def moon_sun(x,**z):
    return x,z

In [88]:
moon_sun(1,a=2,y=3)

2

(1, {'a': 2, 'y': 3})

- in 은 멤버쉽 연산자!
- 예외 - 딕셔너리일때는 key값만 확인하자너 ㅋㅋ

In [87]:
def moon_sun(x,**z):
    if 'a' in z:
        print(z['a'])
    return x,z

### * 1개가 앞에 와야 좀 깔끔하지 않을까?

In [89]:
def moon_sun(x,**y, *z):
    return x,y,z

SyntaxError: invalid syntax (<ipython-input-89-2f291218c0d5>, line 1)

###  아름다워야 파이썬이다.

In [114]:
def moon_sun(x,*y,**z):
    return x,y,z

In [94]:
moon_sun(1,3,4,5,6,7,a=2,b=3)

(1, (3, 4, 5, 6, 7), {'a': 2, 'b': 3})

In [115]:
moon_sun(1,y=[3,4,5,6,7],z= {1:'3'})

(1, (), {'y': [3, 4, 5, 6, 7], 'z': {1: '3'}})

### **의미 : 풀어헤쳐가서 들어간다는 의미!
- 딕셔너리 안에 딕셔너리 값이 들어갈 수 없다.
- 키 값에는 immutable 한 애가 들어와야함

In [102]:
x={1:'a',2:'b'}
y={2:'c',3:'d'}

In [107]:
z = **x

SyntaxError: invalid syntax (<ipython-input-107-c4f075dc18a1>, line 1)

In [109]:
z = {**x}

In [111]:
z

{1: 'a', 2: 'b'}

In [112]:
z = {**x, **y}

In [113]:
z

{1: 'a', 2: 'c', 3: 'd'}

#### 1개를 입력받아 이 타입이 sequence면 sequence라고 출력하고 아니면 아닙니다. 라고 출력하기

In [137]:
import collections

def isSequence(sec):
    if isinstance(sec, collections.Sequence):
        print(sec,'은 sequence 타입이 맞습니다.')
    else:
        print(sec,'은 sequence 타입이 아닙니다.')

In [145]:
isSequence(range(1,3))

range(1, 3) 은 sequence 타입이 맞습니다.

In [146]:
def type_check(x):
    if type(x) in [list,tuple,range]:
        print(x,'은 sequnece 타입이 맞습니다.')
    else:
        print(x,'은 sequnece 타입이 아닙니다.')

In [150]:
type_check(1)

1 은 sequnece 타입이 아닙니다.

======복습시간=======

In [31]:
a,*b,c = 1,2,3,4,5,6,7,8

In [32]:
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7]
8

### [고오급]키워드 방식이 아니면 에러나게? 구현해봐
- python3 이후부터 사용 가능

In [36]:
def moon_sun(*,x,y):
    return x,y

In [38]:
moon_sun(x=2,y=2)

(2, 2)

### 형태를 반드시 맞춰줘야 한다. 그렇지 않으면 포지셔닝 에러

In [39]:
def moon_sun(x,y):
    return x,y

In [40]:
moon_sun(y=2)

TypeError: moon_sun() missing 1 required positional argument: 'x'

### default값 채워넣기
- 입력을 하면, 입력값이 들어가고 입력을 하지 않으면 default값이 출력된다.
- 무조건 뒤에서부터 채워야 한다. 앞에꺼 채우면 에러남 <컴파일 에러 (syntax 에러)>
- python에서는 exception은 런타임에러

In [42]:
def moon_sun(x=3,y):
    return x,y

SyntaxError: non-default argument follows default argument (<ipython-input-42-55149b1ae0d2>, line 1)

In [47]:
def moon_sun(x,y=3):
    return x,y

In [45]:
moon_sun(2)

(2, 3)

In [48]:
def moon_sun(x,y=3,z=1):
    return x,y,z

In [49]:
moon_sun(7)

(7, 3, 1)

In [50]:
moon_sun(7,2)

(7, 2, 1)

In [52]:
moon_sun(7,z=5)

(7, 3, 5)

### default 값 테크닉!
- parameter에서는 or 사용이 안됨.
- argument에서는 사용 가능하다!

In [53]:
def moon_sun(x or 3):
    return x

SyntaxError: invalid syntax (<ipython-input-53-dd631670a2fc>, line 1)

In [2]:
def moon_sun(x):
    return x

In [55]:
moon_sun(7 or 23)

7

### [꿀팁] a에 값에 아무것도 들어가지 않았을 때, or 앞의 구문이 false기 때문에 뒤의 값이 나옴

In [3]:
a=input()
moon_sun(a or '')

23

'23'

### 얘 보면 뒤에서부터 다 채워져있음

In [46]:
import pandas as pd

In [57]:
pd.read_csv

<function pandas.io.parsers._make_parser_function.<locals>.parser_f(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)>

### python은 왼쪽에서 오른쪽으로 계산한다

In [60]:
x,_,_ = 2,3,2

In [62]:
_

2

In [158]:
def moon_sun(x,**y):
    return x,y

### keyword = string이 나와야 한다.
- 1 = 2 말이 안되자너 ㅋㅋ

여기에 ** 들어가려면 반드시 묶어서 써야함

In [164]:
moon_sun('1',**{1:2,'2':3,'3':4})

TypeError: moon_sun() keywords must be strings

In [162]:
a = {1:'3',2:'3'}

In [163]:
a

{1: '3', 2: '3'}

In [167]:
a = {'a':1,'b':2,'c':3}

### 이거 주의해서 잘봐라. 개쩐다
- unpacking이라서 for i,j 가 가능함
- 딕셔너리에서 keys, values, items 3개는 꼭 외워놔

In [180]:
for i,j in a.items():
    print(i)

a
b
c

In [169]:
dir(a)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [170]:
a.values()

dict_values([1, 2, 3])

### sequence 타입을 만들어주는 함수임

In [181]:
from collections import OrderedDict

In [182]:
import seaborn as sns

### 네이밍
- 이름이 파스칼 방식 => 클래스
- 이름이 스네이크 방식 => function
- __aaa___ => 메소드

In [184]:
dir(sns)

['FacetGrid',
 'JointGrid',
 'PairGrid',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_orig_rc_params',
 'algorithms',
 'axes_style',
 'axisgrid',
 'barplot',
 'blend_palette',
 'boxplot',
 'categorical',
 'choose_colorbrewer_palette',
 'choose_cubehelix_palette',
 'choose_dark_palette',
 'choose_diverging_palette',
 'choose_light_palette',
 'clustermap',
 'cm',
 'color_palette',
 'countplot',
 'crayon_palette',
 'crayons',
 'cubehelix_palette',
 'dark_palette',
 'desaturate',
 'despine',
 'distplot',
 'distributions',
 'diverging_palette',
 'external',
 'factorplot',
 'get_dataset_names',
 'heatmap',
 'hls_palette',
 'husl_palette',
 'jointplot',
 'kdeplot',
 'light_palette',
 'lmplot',
 'load_dataset',
 'lvplot',
 'matrix',
 'miscplot',
 'mpl',
 'mpl_palette',
 'pairplot',
 'palettes',
 'palplot',
 'plotting_context',
 'pointplot',
 'rcmod',
 'regplot',
 'regression',
 'reset_defaults',
 'reset_orig',
 'residplot',
 'rugplot',
 'saturate',
 'set',
 'set_color_codes',
 'set_context',
 'set_hls_values',
 'set_palette',
 'set_style',
 'stripplot',
 'swarmplot',
 'timeseries',
 'tsplot',
 'utils',
 'violinplot',
 'widgets',
 'xkcd_palette',
 'xkcd_rgb']

In [185]:
data = sns.load_dataset('tips')

In [186]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [187]:
type(data)

pandas.core.frame.DataFrame

In [191]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [192]:
data.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [196]:
type(data.groupby('sex'))

pandas.core.groupby.groupby.DataFrameGroupBy

In [197]:
import inspect

### python 함수는 first class citizen 이라고한다!
- 그 관련된 값이 데이터처럼 사용할 수 있음을 말함!
  - 할당 가능! / 인자 값 / 리턴 값 / 등등 값으로 사용할 수 있는 모든 것
  - 함수의 경우 first class function 이라고 한다! (자바는 second class라고도 함)
  - high-order function (고차함수)
     - first class fucntion(넓은 의미)이면 무조건 high-order function(좁은 의미)임
     - functional paradiem을 지원함, 함수형 기법을 지원함
     - 빅데이터가 나오고 나서 함수형 기법이 유행함

### Functional Programming
- f(g(x)) 합성함수 처럼 바꿔서 프로그래밍 하는 것이 함수형 프로그래밍
- 간결함
- 상태변화보다 결과를 내는 과정이 더욱 중요함 (할당을 잘 안함, 특히 mutable 인 애 안씀)
- loop를 없애는 것. for를 엄청 간결하게!=> iterator, generator
   - local scope가 global scope로 전이됨. (loop가 끝나면 값이 안바뀌자너)

###  ★★★★★★종류★★★★★★
### 1. map
### 2. filter
### 3. reduce

In [212]:
words = []
for i in range(1,11):
    words.append(i)
words

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [220]:
i

10

### 이거보셈ㅋㅋ

In [219]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [231]:
[x for x in range(1,11) if x%2 ==0]

[2, 4, 6, 8, 10]

### 중첩은 쓰지마

In [232]:
[a for a in x for x in range(1,11)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [233]:
[range(1,11)]

[range(1, 11)]

### f(g(x)) 와 같은 형태 => 함수형프로그래밍

In [234]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [235]:
'윤성찬'.replace('찬','찬찬찬')

'윤성찬찬찬'

In [236]:
sum(list(range(1,11)))

55

### map(func, iterable)
- 어떤 함수의 형태로 맵핑시켜주는 것
- iterable은 기존의 자체가 안 바뀌는 것이다.

In [255]:
set(map(lambda x:x+2,{1,2,3}))

{3, 4, 5}

In [253]:
(1,2,3)+(2,)

(1, 2, 3, 2)

In [256]:
def add_two(x):
    return x+2

In [258]:
list(map(add_two, (1,2,3)))

[3, 4, 5]

In [260]:
list(filter(add_two, (1,2,3)))

[1, 2, 3]

In [261]:
type(filter)

type

In [266]:
list(filter(lambda x:x>3, [1,2,3,4,5,6]))

[4, 5, 6]

filter
- 조건에 틀린 것은 없앤다

all
- 전부 다 참이어야지만 True를 return 함

In [273]:
any([])

False

In [279]:
sorted(['A','a'],key=str.lower)

['A', 'a']

- 요렇게 꺽새로 나오는 애들은 의심을 해봐야함
- generator일 확률이 높음
- enumerate는 한 번 연산하면 값이 사라짐

In [289]:
a = enumerate([1,2,3])

In [292]:
a

In [281]:
b = (x for x in range(10))

In [282]:
b

In [283]:
def a():
    return [1,2,3,4,5]

In [286]:
x = a()

In [287]:
type(x)

list

In [288]:
for a in a():
    print(a)

1
2
3
4
5

- 튜플로나오네? 결과?
- i, j => unpacked 기법으로 가능함ㅋㅋ
- enumerator 옵션 줄 수 있음
   - 대표적인 generator

In [296]:
for i,j in enumerate(range(3,11),1):
    print(i,j)

1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10

- lazy 기법
  - 한 개씩 올라가지만, 메모리의 여유가 있음
- ego 기법
  - 한 방에 올라감 => 실행속도는 빠름
  - 메모리 큰 거는 한 번에 못올려
  - generator

In [297]:
for i in map(lambda x:x+1, range(10)):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [299]:
dir(enumerate)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

### python 3항 연산자

In [300]:
a = 3
b = 4 if a>1 else 0

In [301]:
b

4

In [355]:
[(a,x, x*a) for a in range(2,10) for x in range(1,10) if a%2==1 ]

[(3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [356]:
def ax(a,x):
    return a*x

In [359]:
[[a,x, ax(a,x)] for a in range(2,10) for x in range(1,10)]

[[2, 1, 2],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [2, 6, 12],
 [2, 7, 14],
 [2, 8, 16],
 [2, 9, 18],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15],
 [3, 6, 18],
 [3, 7, 21],
 [3, 8, 24],
 [3, 9, 27],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [4, 5, 20],
 [4, 6, 24],
 [4, 7, 28],
 [4, 8, 32],
 [4, 9, 36],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [6, 7, 42],
 [6, 8, 48],
 [6, 9, 54],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [7, 8, 56],
 [7, 9, 63],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [8, 9, 72],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

### F/P
- 루프를 완전히 없앨 수가 없기 때문에 단축시키는 방법 밖엔 없엉
- mutable을 쓰지 않는 거임 아래 예시
   - parameter 디폴트 값은 절대로 mutable쓰면 안됨!
   - 자기 자신의 값이 변하기 때문임

In [373]:
def mutable(x,y=[]):
    y.append(x)
    return y

In [380]:
mutable(3,[1,2])

[1, 2, 3]

In [385]:
c = mutable(2)

In [386]:
c

[[1], [1], 1, 2]

In [387]:
import time

In [398]:
time.time()

1530770582.9866018

### parameter는 처음 생성된 것으로 고정이 되버림

In [399]:
def time_at(time=time.time()):
    return time

In [414]:
time_at()

1530770618.963362

In [418]:
time.sleep(5)

In [419]:
time_at()

1530770618.963362

### default 값은 변할 수 있는 mutable한 것을 넣는 순간부터 원하지 않는 값들이 나올 수 있다.

### 함수형 프로그램을 쓰는 사람들은 무조건 인자를 넣게함! 입력값/출력값을 구분함
### self=None을 적으면 디버깅 할 때 좋음
### 이론 상 F/P를 사용하면 코드가 간결해지고 병렬 컴퓨팅 할 때도 좋고.... 암튼 좋음

In [421]:
def moon(self=None):
    return self

In [422]:
moon()

In [423]:
moon(1)

1

### scope (생존범위)
LEGB
- Local
- Enclose
- Global
- Built in

함수 안에 있는 것과 함수 밖에 있는 것을 구분한다

In [445]:
x = 1
def a():
    x = 2
    print('>>>' , x)
    return x
print(a())
print(x)

>>> 2
2
1

### 없을 때는 함수 밖의 y를 가져옴

In [446]:
x = 1
y = 3
def a():
    x = 2
    print('>>>', x)
    print('>>>', y)
    return x
print(a())
print(y)

>>> 2
>>> 3
2
3

### global = 함수 내부에서 함수 밖에 있는 것도 바꾼다 => 전체 값 바꿔버리기

In [451]:
x = 1
y = 3
def a():
    global x
    x += 3
    print('>>>', x)
    print('>>>', y)
    return x
print(a())
print(x)

>>> 4
>>> 3
4
4

### [고오급 기법]

In [465]:
x = 1
y = 3
def a():
    x = 2
    def b():
        global x
        return x
    return b
print(a()())

1

In [468]:
x = 1
y = 3
def a():
    def b():
        nonlocal x
        return x
    global x
    return b
print(a()())

SyntaxError: no binding for nonlocal 'x' found (<ipython-input-468-868fceccb16c>, line 5)

In [470]:
x = "global"

def foo():
    print("x inside : ",x)
foo()
print("x outside : ",x)

x inside :  global
x outside :  global

### 그냥 가져다 쓰면 되는데
### 그 값을 바꾸려할 때에는 global을 꼭 적어줘야 함

In [471]:
x = "global"

def foo():
#     global x
    x= x*2
    print(x)
foo()

UnboundLocalError: local variable 'x' referenced before assignment

In [475]:
def foo():
    y = "local"
foo()
print(y)

NameError: name 'y' is not defined

In [ ]:
nonlocal