# 20180709 필기

In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect(":memory:")

cur은 pointer 개념이라고 생각하면 된다.

In [10]:
cur = conn.cursor()

In [11]:
who = "yeltsin"

In [12]:
age = 72

In [13]:
who

'yeltsin'

In [14]:
age

72

In [15]:
cur.execute("create table people (name_last, age)")

In [16]:
cur.execute("insert into people values(?,?)", (who, age))

In [17]:
cur.execute("select * from people where name_last=:who and age=:age",{"who":who, "age":age})

cur.fetchone()
- 물고 있는 데이터 중에 하나 하나씩 꺼내오는거임

In [18]:
cur.fetchone()

('yeltsin', 72)

In [30]:
sql = "insert into people values (?,?)"

In [20]:
sql

'insert into people values (?,?)'

In [31]:
data =[("1",1),("2",2),("3",3)]

In [32]:
cur.executemany(sql, data)

In [23]:
cur.executescript(
"""
    create table person2(
        first_name text primary key,
        last_name text not null
    );
    
    insert into people values ('name','kim');
"""
)

In [24]:
cur.execute("select *from person")

In [33]:
print(cur.fetchall())

[]

In [34]:
conn.close()

In [35]:
conn = sqlite3.connect("test.db")

In [43]:
conn.execute(
"""
    create table company(
        id int primary key not null,
        name text not null,
        age int not null,
        address char(50),
        salary real
    )
"""
)

In [39]:
conn.execute("drop table company")

In [40]:
conn.execute("select *from company")

OperationalError: no such table: company

In [44]:
conn.execute("insert into company values (1, 'Paul', 32, 'California', 20000.00)");

In [47]:
conn.execute("insert into company values (:id, :name, :age, :address, :salaray)"
, {'id':2, 'name':'AAA', 'age':32, 'address':'California', 'salaray':15000.00});

In [49]:
data = [(3, 'Teddy',23,'Norway',200000.00),
(4, 'Mark', 25, 'Rich-Mond', 65000.00)]

In [50]:
conn.executemany("insert into company values (?,?,?,?,?)",data);

In [51]:
conn.executescript(
"""
    insert into company values (5,'mark1',25,'rich-mond',65000.00);
    insert into company values (6,'mark2',25,'rich-mond',65000.00);

""");

커밋을 너무 자주하면 오버헤드가 커짐
- select,update 하기 전에 꼭 커밋을 해야한대

In [52]:
conn.commit()

In [66]:
temp = conn.execute('select *from company')

In [55]:
type(temp)

sqlite3.Cursor

In [67]:
for row in temp:
    print(type(row),row)

<class 'tuple'> (1, 'Paul', 32, 'California', 20000.0)
<class 'tuple'> (2, 'AAA', 32, 'California', 15000.0)
<class 'tuple'> (3, 'Teddy', 23, 'Norway', 200000.0)
<class 'tuple'> (4, 'Mark', 25, 'Rich-Mond', 65000.0)
<class 'tuple'> (5, 'mark1', 25, 'rich-mond', 65000.0)
<class 'tuple'> (6, 'mark2', 25, 'rich-mond', 65000.0)

In [61]:
temp.fetchall()

[(1, 'Paul', 32, 'California', 20000.0),
 (2, 'AAA', 32, 'California', 15000.0),
 (3, 'Teddy', 23, 'Norway', 200000.0),
 (4, 'Mark', 25, 'Rich-Mond', 65000.0),
 (5, 'mark1', 25, 'rich-mond', 65000.0),
 (6, 'mark2', 25, 'rich-mond', 65000.0)]

변수를 이용해서 만들 수도 있음

In [68]:
cid = 1

conn.execute("update company set salary = 25000.00 where id=:id",{'id':cid})
conn.commit()
print("Total number of rows updated : ",conn.total_changes)

Total number of rows updated :  7

In [71]:
curs = conn.execute("select id,name,address,salary from company")
for row in curs:
    print(row)

(1, 'Paul', 'California', 25000.0)
(2, 'AAA', 'California', 15000.0)
(3, 'Teddy', 'Norway', 200000.0)
(4, 'Mark', 'Rich-Mond', 65000.0)
(5, 'mark1', 'rich-mond', 65000.0)
(6, 'mark2', 'rich-mond', 65000.0)

In [72]:
conn.execute("delete from company where id = 2")

In [73]:
print(conn.total_changes)

8

트랜잭션을 끝내고 싶을 때, 바로 select를 하면 자동으로 commit이 적용된다.

In [74]:
conn.commit()

In [75]:
curs = conn.execute("select id,name,address,salary from company")
for row in curs:
    print(row)

(1, 'Paul', 'California', 25000.0)
(3, 'Teddy', 'Norway', 200000.0)
(4, 'Mark', 'Rich-Mond', 65000.0)
(5, 'mark1', 'rich-mond', 65000.0)
(6, 'mark2', 'rich-mond', 65000.0)

### 예제

In [76]:
import sqlite3 as sql
con = None

In [80]:
try:
    con = sql.connect('prac.db')
    cur = con.cursor()
    cur.execute("select sqlite_version()")
    data = cur.fetchone()
    print("sqlite Version: ",data)
except Exception as e:
    print("error: ",e)
finally:
    if con:
        con.close()

sqlite Version:  ('3.21.0',)

with문 : name scope.
- with 문 안에 생성된 변수는 with 문이 끝나면 사라진다.
- with con:
    - with문이 끝나면 con이 자동으로 close가 됨

In [81]:
cars = [
    (1,'audi',524441),
    (2,'audi2',524442),
    (3,'audi3',524443),
    (4,'audi4',524444),
    (5,'audi5',524445),
    (6,'audi6',524446),
    (7,'audi7',524447),
    (8,'audi8',524448)    
    
]
con = sql.connect('prac.db')
with con:
    cur = con.cursor()
    cur.execute("create table cars(id int primary key, name text, price int)")
    cur.executemany("insert into cars values(?,?,?)",cars)

In [89]:
temp = cur.execute("select *from cars")

In [90]:
for rows in temp:
    print(rows)

(1, 'audi', 524441)
(2, 'audi2', 524442)
(3, 'audi3', 524443)
(4, 'audi4', 524444)
(5, 'audi5', 524445)
(6, 'audi6', 524446)
(7, 'audi7', 524447)
(8, 'audi8', 524448)

### python은 인터프리터 언어기 때문에, create table 은 성공이 되도 select에서 실패가 된다면 table은 생성이 되있다
- exception 안에 rollback을 넣는다.

In [93]:
con = sql.connect(':memory:')
with con:
    cur = con.cursor()
    cur.execute("create table friends(id integer primary key, name text);")
    cur.execute("insert into friends(name) values('tom');")
    cur.execute("insert into friends(name) values('tom2');")
    cur.execute("insert into friends(name) values('tom3');")
    cur.execute("insert into friends(name) values('tom4');")

    lid = cur.lastrowid
    print("The last id of the inserted row is",lid)

The last id of the inserted row is 4