In [1]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine("sqlite:///alchemytest.db", echo=True)

기존의 Base 방식

In [12]:
from sqlalchemy.ext.declarative import declarative_base

In [13]:
Base = declarative_base()

또 다른 Base 방식

In [14]:
from sqlalchemy.ext.automap import automap_base

In [18]:
Base = automap_base()

In [19]:
Base.prepare(engine, reflect=True)

2018-07-12 10:25:01,779 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:25:01,782 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,785 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:25:01,786 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,788 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-12 10:25:01,789 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,793 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-12 10:25:01,794 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,797 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:01,798 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,801 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-12 10:25:01,802 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,804 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:01,805 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,811 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-12 10:25:01,812 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,814 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:01,815 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,817 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-12 10:25:01,818 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,820 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:01,821 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,823 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 10:25:01,824 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,826 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 10:25:01,827 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,829 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:01,830 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,838 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 10:25:01,839 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,841 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 10:25:01,842 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,844 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:01,845 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,849 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-12 10:25:01,850 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,853 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:01,854 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,856 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-12 10:25:01,857 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,858 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:01,860 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,862 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 10:25:01,863 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,865 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 10:25:01,865 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,868 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:01,869 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,871 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-12 10:25:01,872 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,875 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:01,876 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,878 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-12 10:25:01,879 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,919 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:01,920 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,923 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 10:25:01,924 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,926 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 10:25:01,927 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,929 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:01,930 INFO sqlalchemy.engine.base.Engine ()

사실 DB작업 안할거면 sessionmaker 안해도됨 ㅋㅋ

In [20]:
from sqlalchemy.orm import sessionmaker

엔진이랑 연결해주고

In [21]:
Session = sessionmaker(bind=engine)

상속받을 객체 하나 만들어주고

In [22]:
session = Session()

In [24]:
artist = Base.classes.Artist

In [25]:
artist

sqlalchemy.ext.automap.Artist

In [27]:
result = session.query(artist)

In [32]:
for row in result:
    print(row.id, row.name)

2018-07-12 10:29:31,621 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
2018-07-12 10:29:31,623 INFO sqlalchemy.engine.base.Engine ()
1 Led Zepplin
2 AC/DC