# 20180710 필기

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(":memory:")

In [3]:
cur = conn.cursor()

In [44]:
cur.executescript(
"""
    drop table artist;
    drop table genre;
    drop table album;
    drop table track;
    
    create table artist (
        id INTEGER primary key autoincrement,
        name text
    );
    create table genre (
        id INTEGER primary key autoincrement,
        name text
    );
    create table album (
        id INTEGER primary key autoincrement,
        title text,
        artist_id integer
    );
    create table track (
        id INTEGER primary key autoincrement,
        title text,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER,
        genre_id INTEGER
    );
    
    insert into artist (name) values('Led Zepplin');
    insert into artist (name) values('AC/DC');
    
    insert into genre (name) values('Rock');
    insert into genre (name) values('Metal');
    
"""
)

In [45]:
cur.execute('select * from artist')

In [46]:
print(cur.fetchall())

[(1, 'Led Zepplin'), (2, 'AC/DC')]

In [36]:
artist = cur.fetchall()

In [37]:
for id_ in artist:
    print(id_[0])

1
2

In [48]:
cur.executescript(
"""
    insert into album (title,artist_id) values('IV', 1);
    insert into album (title,artist_id) values('who made who',2);
   
    insert into track (title, album_id, genre_id) values('Black Dog', 1, 1);
    insert into track (title, album_id, genre_id) values('stairway',1, 2);
    insert into track (title, album_id, genre_id) values('About to Rock',2, 1);
    insert into track (title, album_id, genre_id) values('Who Made Who',2, 2);
    
    
"""
)

In [50]:
cur.execute('select *from track')
print(cur.fetchall())

[(1, 'Black Dog', None, None, None, 1, 1), (2, 'stairway', None, None, None, 1, 2), (3, 'About to Rock', None, None, None, 2, 1), (4, 'Who Made Who', None, None, None, 2, 2)]

### inner join (교집합)

In [64]:
cur.execute('select * from album join track on album.id = track.album_id')

In [65]:
for row in cur.fetchall():
    print(row)

(1, 'IV', 1, 1, 'Black Dog', None, None, None, 1, 1)
(1, 'IV', 1, 2, 'stairway', None, None, None, 1, 2)
(2, 'who made who', 2, 3, 'About to Rock', None, None, None, 2, 1)
(2, 'who made who', 2, 4, 'Who Made Who', None, None, None, 2, 2)

In [72]:
cur.execute('select Track.title, Artist.name, Album.title, Genre.name \
            from Track join Artist join Album join Genre \
            on Track.album_id = Album.id \
            and Track.genre_id = Genre.id \
            and Album.artist_id = Artist.id')

In [73]:
for row in cur.fetchall():
    print(row)

('Black Dog', 'Led Zepplin', 'IV', 'Rock')
('stairway', 'Led Zepplin', 'IV', 'Metal')
('About to Rock', 'AC/DC', 'who made who', 'Rock')
('Who Made Who', 'AC/DC', 'who made who', 'Metal')

### 덤프 만들기!

In [ ]:
conn = sqlite3.connect(":memory:")

In [74]:
with open("test.dump","w") as f:
    for line in conn.iterdump():
        f.write('%s\n' % line)

In [75]:
data = None
with open("test.dump","r") as f:
    data = f.read()
data

'BEGIN TRANSACTION;\nCREATE TABLE album (\n        id INTEGER primary key autoincrement,\n        title text,\n        artist_id integer\n    );\nINSERT INTO "album" VALUES(1,\'IV\',1);\nINSERT INTO "album" VALUES(2,\'who made who\',2);\nCREATE TABLE artist (\n        id INTEGER primary key autoincrement,\n        name text\n    );\nINSERT INTO "artist" VALUES(1,\'Led Zepplin\');\nINSERT INTO "artist" VALUES(2,\'AC/DC\');\nCREATE TABLE genre (\n        id INTEGER primary key autoincrement,\n        name text\n    );\nINSERT INTO "genre" VALUES(1,\'Rock\');\nINSERT INTO "genre" VALUES(2,\'Metal\');\nDELETE FROM "sqlite_sequence";\nINSERT INTO "sqlite_sequence" VALUES(\'artist\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'genre\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'album\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'track\',4);\nCREATE TABLE track (\n        id INTEGER primary key autoincrement,\n        title text,\n        length INTEGER,\n        rating INTEGER,\n        count INTEGER,\n        album_id INTEGER,\n        genre_id INTEGER\n    );\nINSERT INTO "track" VALUES(1,\'Black Dog\',NULL,NULL,NULL,1,1);\nINSERT INTO "track" VALUES(2,\'stairway\',NULL,NULL,NULL,1,2);\nINSERT INTO "track" VALUES(3,\'About to Rock\',NULL,NULL,NULL,2,1);\nINSERT INTO "track" VALUES(4,\'Who Made Who\',NULL,NULL,NULL,2,2);\nCOMMIT;\n'

### dump 파일을 읽은 data 값을 db로 만들어보자

In [76]:
conn = sqlite3.connect('dump.db')

In [77]:
cur = conn.cursor()

In [78]:
cur.executescript(data)

### db browser for SQLite로 확인 결과 잘 들어가져있음

In [81]:
conn.execute("insert into track (title) values ('아무거나~~예~~~~')")

In [82]:
cur.execute("select *from track")
print(cur.fetchall())

[(1, 'Black Dog', None, None, None, 1, 1), (2, 'stairway', None, None, None, 1, 2), (3, 'About to Rock', None, None, None, 2, 1), (4, 'Who Made Who', None, None, None, 2, 2), (5, '아무거나~~예~~~~', None, None, None, None, None)]

In [93]:
cur.execute("select * from album left join track on album.id=track.album_id")

In [94]:
for row in cur.fetchall():
    print(row)

(1, 'IV', 1, 1, 'Black Dog', None, None, None, 1, 1)
(1, 'IV', 1, 2, 'stairway', None, None, None, 1, 2)
(2, 'who made who', 2, 3, 'About to Rock', None, None, None, 2, 1)
(2, 'who made who', 2, 4, 'Who Made Who', None, None, None, 2, 2)

--------------------

# ORM

orm?
- 클래스를 쓰듯이 그냥 작업해라. orm이 알아서 해준다.
- 단순한 Programming technique이다. DBMS라고 착각하지 말자
- ORM stands Object Relational Mapping
- Programming technique for converting data between incompatible type systems using object-oriented programming languages 
- 테이블 간의 관계보다 데이터베이스에 대한 처리에 집중!

왜 사용하니?
- 비즈니스모델, 로직을 클래스화를 시키면 알아서 데이터를 잡고 insert, select 등등을 해준다.
- 다만 유일한 단점, 단계를 거칠 때 마다 성능이 나빠진다.
- 웹인 지능정보시스템의 경우 트랜잭션이 많지 않잖아. 이럴 땐 사용해도 된다.
- 하지만 머신러닝하려고 데이터를 클래스화해서 처리할 경우는 시간이 많이 걸릴 수 있다.

-------

# SQLAlchemy

In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.2.7'

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine("sqlite:///alchemytest.db", echo=True)

In [5]:
print(engine)

Engine(sqlite:///alchemytest.db)

### metadata
- A collection of Table objects and their associated schema constructs
- Holds a collection of Table objects as well as an optional binding to an Engine or Connection. If bound, the Table objects in the collection and their columns may participate in implicit SQL execution
- Table objects themselves are stored in the MetaData.tables dictionary

In [6]:
from sqlalchemy import MetaData

In [7]:
metadata = MetaData()

In [8]:
print(metadata)

MetaData(bind=None)

### create table

In [9]:
from sqlalchemy import Table, Column, Integer, String, ForeignKey

In [110]:
users = Table('users', metadata,
             Column('id', Integer, primary_key=True),
             Column('name', String),
             Column('fullname', String))

In [111]:
address = Table('address', metadata,
             Column('id', Integer, primary_key=True),
             Column('user_id', None, ForeignKey('users.id')),
             Column('email_address', String, nullable=False)
)

In [112]:
metadata.create_all(engine)

2018-07-10 13:42:25,975 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2018-07-10 13:42:25,978 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 13:42:25,981 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2018-07-10 13:42:25,983 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 13:42:25,986 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2018-07-10 13:42:25,988 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 13:42:25,991 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("address")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("address")

2018-07-10 13:42:25,993 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 13:42:25,996 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2018-07-10 13:42:25,998 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 13:42:26,000 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2018-07-10 13:42:26,002 INFO sqlalchemy.engine.base.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE address (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

2018-07-10 13:42:26,004 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 13:42:26,006 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [113]:
for row in metadata.tables:
    print(row)

users
address

In [16]:
print(metadata)

MetaData(bind=None)

## insert table

In [115]:
print(users.insert())

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

### insert #1

In [118]:
insert = users.insert().values(name ='kim', fullname='Anonymous, Kim')

In [119]:
insert.compile().params

{'name': 'kim', 'fullname': 'Anonymous, Kim'}

In [15]:
insert.bind = engine

NameError: name 'insert' is not defined

In [17]:
conn = engine.connect()

In [123]:
result = conn.execute(insert)

2018-07-10 13:54:13,102 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2018-07-10 13:54:13,105 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')

INFO:sqlalchemy.engine.base.Engine:('kim', 'Anonymous, Kim')

2018-07-10 13:54:13,107 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [124]:
result.inserted_primary_key

[2]

### insert #2

In [125]:
insert = users.insert()

In [129]:
result = conn.execute(insert, name='xxx', fullname='XXxxx, XXX')

2018-07-10 14:13:02,340 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2018-07-10 14:13:02,342 INFO sqlalchemy.engine.base.Engine ('xxx', 'XXxxx, XXX')

INFO:sqlalchemy.engine.base.Engine:('xxx', 'XXxxx, XXX')

2018-07-10 14:13:02,344 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [130]:
result.inserted_primary_key

[5]

### insert #3

In [132]:
conn.execute(address.insert(),[
    {'user_id':1, 'email_address':'anonymous.kim@test.com'},
    {'user_id':2, 'email_address':'unknown.lee@test.com'}
])

2018-07-10 14:16:55,467 INFO sqlalchemy.engine.base.Engine INSERT INTO address (user_id, email_address) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO address (user_id, email_address) VALUES (?, ?)

2018-07-10 14:16:55,469 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@test.com'), (2, 'unknown.lee@test.com'))

INFO:sqlalchemy.engine.base.Engine:((1, 'anonymous.kim@test.com'), (2, 'unknown.lee@test.com'))

2018-07-10 14:16:55,472 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

### select #1

In [10]:
from sqlalchemy.sql import select

In [134]:
query = select([users])

In [135]:
print(query)

SELECT users.id, users.name, users.fullname
FROM users

In [149]:
result = conn.execute(query)

2018-07-10 14:24:49,373 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2018-07-10 14:24:49,375 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [140]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim')
(2, 'kim', 'Anonymous, Kim')
(3, 'lee', 'UnKnown, Lee')
(4, 'lee', 'UnKnown, Lee')
(5, 'xxx', 'XXxxx, XXX')

In [142]:
row = result.fetchone()

In [143]:
print(row)

(1, 'kim', 'Anonymous, Kim')

In [144]:
row = result.fetchone()

In [145]:
print(row)

(2, 'kim', 'Anonymous, Kim')

In [150]:
rows = result.fetchall()

In [159]:
for row in rows:
    print(row[0], row[1], row[2])
    print(row)

1 kim Anonymous, Kim
(1, 'kim', 'Anonymous, Kim')
2 kim Anonymous, Kim
(2, 'kim', 'Anonymous, Kim')
3 lee UnKnown, Lee
(3, 'lee', 'UnKnown, Lee')
4 lee UnKnown, Lee
(4, 'lee', 'UnKnown, Lee')
5 xxx XXxxx, XXX
(5, 'xxx', 'XXxxx, XXX')

### select #2

In [160]:
result = conn.execute(select([users.c.name, users.c.fullname]))

2018-07-10 14:28:20,131 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, users.fullname
FROM users

2018-07-10 14:28:20,133 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [161]:
for row in result:
    print(row)

('kim', 'Anonymous, Kim')
('kim', 'Anonymous, Kim')
('lee', 'UnKnown, Lee')
('lee', 'UnKnown, Lee')
('xxx', 'XXxxx, XXX')

### and, or, not

In [11]:
from sqlalchemy import and_, or_, not_

In [164]:
print(users.c.id == address.c.user_id)

users.id = address.user_id

In [167]:
print(or_(users.c.id == address.c.user_id, users.c.id == 1))

users.id = address.user_id OR users.id = :id_1

In [168]:
print((users.c.id==address.c.user_id) | (users.c.id==1))

users.id = address.user_id OR users.id = :id_1

### select #3 - where 절 추가

In [174]:
result = conn.execute(select([users]).where(users.c.id==2))

2018-07-10 14:39:53,246 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?

2018-07-10 14:39:53,249 INFO sqlalchemy.engine.base.Engine (2,)

INFO:sqlalchemy.engine.base.Engine:(2,)

In [175]:
for row in result:
    print(row)

(2, 'kim', 'Anonymous, Kim')

### cross join이지만, 결과 값은 inner join으로 받아오기

In [178]:
result = conn.execute(select([users, address]).where(users.c.id==address.c.user_id))

2018-07-10 14:42:19,718 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, address.id, address.user_id, address.email_address
FROM users, address
WHERE users.id = address.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname, address.id, address.user_id, address.email_address
FROM users, address
WHERE users.id = address.user_id

2018-07-10 14:42:19,720 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [179]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@test.com')
(2, 'kim', 'Anonymous, Kim', 2, 2, 'unknown.lee@test.com')

### name이 k로 시작하는 컬럼 출력

In [184]:
result = conn.execute(select([users]).where(users.c.name.like("k%")))

2018-07-10 14:46:43,033 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name LIKE ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name LIKE ?

2018-07-10 14:46:43,036 INFO sqlalchemy.engine.base.Engine ('k%',)

INFO:sqlalchemy.engine.base.Engine:('k%',)

In [185]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim')
(2, 'kim', 'Anonymous, Kim')

### where 중첩

In [187]:
result = conn.execute(select([users, address]).where(users.c.id==address.c.user_id).where(users.c.name.like('k%')))

2018-07-10 14:47:56,929 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, address.id, address.user_id, address.email_address
FROM users, address
WHERE users.id = address.user_id AND users.name LIKE ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname, address.id, address.user_id, address.email_address
FROM users, address
WHERE users.id = address.user_id AND users.name LIKE ?

2018-07-10 14:47:56,931 INFO sqlalchemy.engine.base.Engine ('k%',)

INFO:sqlalchemy.engine.base.Engine:('k%',)

In [188]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@test.com')
(2, 'kim', 'Anonymous, Kim', 2, 2, 'unknown.lee@test.com')

## join
- join(right, onclause=None, isouter=False, full=False)
- Return a Join from this FromClause to another FromClause

In [12]:
from sqlalchemy import join

### pk, fk를 만들어 줬기 때문에 알아서 처리를 해준다.

In [190]:
print(users.join(address))

users JOIN address ON users.id = address.user_id

In [191]:
print(users.join(address, users.c.id==address.c.user_id))

users JOIN address ON users.id = address.user_id

### 이 전의 예제보다 훨씬 간단해짐

In [195]:
result = conn.execute(select([users.c.name, address.c.email_address]).select_from(users.join(address)))

2018-07-10 15:12:40,083 INFO sqlalchemy.engine.base.Engine SELECT users.name, address.email_address
FROM users JOIN address ON users.id = address.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, address.email_address
FROM users JOIN address ON users.id = address.user_id

2018-07-10 15:12:40,086 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [196]:
for row in result:
    print(row)

('kim', 'anonymous.kim@test.com')
('kim', 'unknown.lee@test.com')

#### 예제 가s아~~
#### Create Table

In [13]:
artist = Table("Artist",metadata,
              Column("id",Integer, primary_key=True),
              Column("name",String, nullable=False),
              extend_existing=True ) #table이 존재하면 덮어쓰기해라.

album = Table("Album",metadata,
              Column("id",Integer, primary_key=True),
              Column("title",String,nullable=False),
              Column("artist_id",Integer,ForeignKey("Artist.id"))
             )

genre = Table("Genre",metadata,
              Column("id",Integer, primary_key=True),
              Column("name",String, nullable=False),
              extend_existing=True ) #table이 존재하면 덮어쓰기해라.

track = Table("Track",metadata,
              Column("id",Integer, primary_key=True),
              Column("title",String, nullable=False),
              Column("length",Integer, nullable=False),
              Column("rating",Integer, nullable=False),
              Column("count",Integer, nullable=False),
              Column("album_id",Integer, ForeignKey("Album.id")),
              Column("genre_id",Integer, ForeignKey("Genre.id")),
              extend_existing=True ) #table이 존재하면 덮어쓰기해라.

metadata.create_all(engine)

2018-07-10 16:24:39,242 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:24:39,243 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,245 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:24:39,246 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,248 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:24:39,249 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,251 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:24:39,252 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,253 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:24:39,254 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,255 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:24:39,256 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,258 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:24:39,259 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,279 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:24:39,280 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:24:39,281 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,293 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:24:39,294 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2018-07-10 16:24:39,295 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,304 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:24:39,306 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2018-07-10 16:24:39,307 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:24:39,316 INFO sqlalchemy.engine.base.Engine COMMIT

### Show tables

In [201]:
for table in metadata.tables:
    print(table)

users
address
Artist
Album
Genre
Track

In [199]:
for table in engine.table_names():
    print(table)

2018-07-10 15:22:10,663 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2018-07-10 15:22:10,665 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

Album
Artist
Genre
Track
address
users

### Drop tables

In [202]:
users.drop(engine)

2018-07-10 15:24:29,488 INFO sqlalchemy.engine.base.Engine
DROP TABLE users

INFO:sqlalchemy.engine.base.Engine:
DROP TABLE users

2018-07-10 15:24:29,490 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 15:24:29,492 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

#### 어? 아직 살아있네.

In [203]:
for table in metadata.tables:
    print(table)

users
address
Artist
Album
Genre
Track

#### 하지만 실제 엔진을 보면 사라져있는 것을 알 수 있다.

In [204]:
for row in engine.table_names():
    print(row)

2018-07-10 15:25:30,139 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2018-07-10 15:25:30,141 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

Album
Artist
Genre
Track
address

### insert

In [18]:
conn.execute(artist.insert(),[
    {'name':'Led Zepplin'},
    {'name':'AC/DC'}
])

conn.execute(album.insert(),[
    {'title':'IV','artist_id':1},
    {'title':'Who Made Who','artist_id':2}
])

conn.execute(genre.insert(),[
    {'name':'Rock'},
    {'name':'Metal'}
])

conn.execute(track.insert(),[
    {'title':'Black Dog','rating':5,'length':297,'count':0,'album_id':1,'genre_id':1},
    {'title':'Stairway','rating':5,'length':482,'count':0,'album_id':1,'genre_id':2},
    {'title':'About to rock','rating':5,'length':297,'count':0,'album_id':2,'genre_id':1},
    {'title':'Who Made Who','rating':5,'length':297,'count':0,'album_id':2,'genre_id':2}
])

2018-07-10 16:25:52,110 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-10 16:25:52,111 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2018-07-10 16:25:52,115 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:25:52,128 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2018-07-10 16:25:52,129 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2018-07-10 16:25:52,132 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:25:52,139 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-10 16:25:52,140 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2018-07-10 16:25:52,143 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:25:52,150 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2018-07-10 16:25:52,151 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 2), ('About to rock', 297, 5, 0, 2, 1), ('Who Made Who', 297, 5, 0, 2, 2))
2018-07-10 16:25:52,154 INFO sqlalchemy.engine.base.Engine COMMIT

### Select

In [19]:
artistResult = conn.execute(artist.select())
for row in artistResult:
    print(row)

2018-07-10 16:26:03,859 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2018-07-10 16:26:03,860 INFO sqlalchemy.engine.base.Engine ()
(1, 'Led Zepplin')
(2, 'AC/DC')

In [207]:
albumResult = conn.execute(album.select())
for row in albumResult:
    print(row)

2018-07-10 15:32:47,885 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"

INFO:sqlalchemy.engine.base.Engine:SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"

2018-07-10 15:32:47,887 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'IV', 1)
(2, 'Who Made Who', 2)

In [210]:
genreResult = conn.execute(genre.select())
for row in genreResult:
    print(row)

2018-07-10 15:33:25,633 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id, "Genre".name
FROM "Genre"

INFO:sqlalchemy.engine.base.Engine:SELECT "Genre".id, "Genre".name
FROM "Genre"

2018-07-10 15:33:25,636 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Rock')
(2, 'Metal')

In [211]:
trackResult = conn.execute(track.select())
for row in trackResult:
    print(row)

2018-07-10 15:33:43,345 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"

2018-07-10 15:33:43,347 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)
(3, 'About to rock', 297, 5, 0, 2, 1)
(4, 'Who Made Who', 297, 5, 0, 2, 2)

### Where

In [222]:
result = conn.execute(select([track])
                      .where(
                          and_(
                              track.c.album_id == 1,
                          or_(
                              track.c.genre_id==1,
                              track.c.genre_id==2
                          ))
                      )
                     )

2018-07-10 15:40:54,408 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)

2018-07-10 15:40:54,410 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

INFO:sqlalchemy.engine.base.Engine:(1, 1, 2)

In [223]:
for row in result:
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)

### Update
- [주의]where 절이 없으면 모든 row가 update 된다.

In [224]:
from sqlalchemy import update

In [238]:
conn.execute(track.update().values(genre_id=1).where(track.c.genre_id==3))

2018-07-10 15:45:27,691 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".genre_id = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE "Track" SET genre_id=? WHERE "Track".genre_id = ?

2018-07-10 15:45:27,693 INFO sqlalchemy.engine.base.Engine (1, 3)

INFO:sqlalchemy.engine.base.Engine:(1, 3)

2018-07-10 15:45:27,695 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [239]:
result = conn.execute(select([track])
                      .where(
                          and_(
                              track.c.album_id == 1,
                          or_(
                              track.c.genre_id==1,
                              track.c.genre_id==2
                          ))
                      )
                     )

2018-07-10 15:45:27,940 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)

2018-07-10 15:45:27,942 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

INFO:sqlalchemy.engine.base.Engine:(1, 1, 2)

In [240]:
for row in result:
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)

### Join #1

In [241]:
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [242]:
result = conn.execute(track
                      .select()
                      .select_from(track.join(album)))
for row in result:
    print(row)

2018-07-10 15:48:04,946 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

2018-07-10 15:48:04,948 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)
(3, 'About to rock', 297, 5, 0, 2, 1)
(4, 'Who Made Who', 297, 5, 0, 2, 2)

### Join #2

In [246]:
result = conn.execute(select([track.c.title, album.c.title]).select_from(track.join(album)))
for row in result:
    print(row)

2018-07-10 15:50:42,596 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".title, "Album".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

2018-07-10 15:50:42,598 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

('Black Dog', 'IV')
('Stairway', 'IV')
('About to rock', 'Who Made Who')
('Who Made Who', 'Who Made Who')

In [248]:
print(track.join(album).join(genre).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [249]:
result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                     .select_from(track.join(album).join(genre).join(artist)))

2018-07-10 16:16:31,528 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

2018-07-10 16:16:31,530 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [250]:
for row in result:
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Metal', 'Led Zepplin')
('About to rock', 'Who Made Who', 'Rock', 'AC/DC')
('Who Made Who', 'Who Made Who', 'Metal', 'AC/DC')

In [20]:
result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                     .select_from(track.join(album).join(genre).join(artist))
                     .where(
                         and_(
                             genre.c.id == 1,
                             artist.c.name.like('%pp%')
                         )
                     ))

for row in result:
    print(row)

2018-07-10 16:26:12,086 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".name LIKE ?
2018-07-10 16:26:12,087 INFO sqlalchemy.engine.base.Engine (1, '%pp%')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')

### open / close

In [21]:
from sqlalchemy import create_engine, MetaData

In [25]:
engine = create_engine("sqlite:///alchemytest.db", echo=True)

In [26]:
conn = engine.connect()

2018-07-10 16:29:53,892 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:29:53,894 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:53,895 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:29:53,896 INFO sqlalchemy.engine.base.Engine ()

In [27]:
metadata = MetaData(bind = engine, reflect = True)

2018-07-10 16:29:54,718 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:29:54,719 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,722 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:29:54,723 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,726 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:29:54,727 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,730 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-10 16:29:54,731 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,733 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:29:54,734 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,740 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:29:54,742 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,745 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:29:54,745 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,747 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-10 16:29:54,748 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,750 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:29:54,751 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,753 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-10 16:29:54,754 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,755 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-10 16:29:54,756 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,758 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 16:29:54,759 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,764 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-10 16:29:54,765 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,767 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-10 16:29:54,768 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,770 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 16:29:54,771 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,773 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:29:54,774 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,776 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:29:54,777 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,779 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-10 16:29:54,780 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,782 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:29:54,783 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,785 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-10 16:29:54,786 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,788 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-10 16:29:54,789 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,790 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 16:29:54,791 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,793 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:29:54,794 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,797 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:29:54,797 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,799 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-10 16:29:54,800 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,802 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:29:54,803 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,805 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-10 16:29:54,806 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,807 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-10 16:29:54,808 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:29:54,810 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 16:29:54,811 INFO sqlalchemy.engine.base.Engine ()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  """Entry point for launching an IPython kernel.

In [28]:
metadata.reflect(bind=engine)

2018-07-10 16:30:36,865 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:30:36,866 INFO sqlalchemy.engine.base.Engine ()

### 잘 가져왔는지 테이블 목록 확인!

In [29]:
for row in metadata.tables:
    print(row)

Album
Artist
Genre
Track

In [30]:
album = metadata.tables["Album"]

In [39]:
result = conn.execute(album.select())

2018-07-10 16:33:42,454 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"
2018-07-10 16:33:42,455 INFO sqlalchemy.engine.base.Engine ()

In [40]:
for row in result:
    print(row)

(1, 'IV', 1)
(2, 'Who Made Who', 2)

--------

## Declare

In [1]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("sqlite://",echo=True)

In [5]:
from sqlalchemy.ext.declarative import declarative_base

In [6]:
Base = declarative_base()

In [2]:
from sqlalchemy import Column, Integer, String, ForeignKey

## Create

In [6]:
class Artist(Base):
    __tablename__="artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    # 생성자나 함수들을 선언해주면 좋다.
    def __repr__(self):
        return "<T'artist(name='%s')>" % (self.name)
    
class Album(Base):
    __tablename__="album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("artist.id"))
    
class Genre(Base):
    __tablename__="genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)

class Track(Base):
    __tablename__="track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    album_id = Column(Integer, ForeignKey("album.id"))
    genre_id = Column(Integer, ForeignKey("genre.id"))

In [7]:
Base.metadata.create_all(engine)

2018-07-10 17:15:20,420 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 17:15:20,424 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,426 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 17:15:20,427 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,431 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-10 17:15:20,432 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,434 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-10 17:15:20,435 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,437 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-10 17:15:20,438 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,439 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-10 17:15:20,440 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,442 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 17:15:20,443 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,444 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:15:20,445 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 17:15:20,446 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,447 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:15:20,448 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES artist (id)
)


2018-07-10 17:15:20,449 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,450 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:15:20,452 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id INTEGER NOT NULL,
	title VARCHAR,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES album (id),
	FOREIGN KEY(genre_id) REFERENCES genre (id)
)


2018-07-10 17:15:20,453 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:20,454 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
artist1 = Artist(name = "Led Zepplin")
artist2 = Artist(name = "AC/DC")

### 메모리 공간과 실제 물리적인 공간과 분리되어 있음.

In [10]:
artist1

## Session

In [11]:
from sqlalchemy.orm import sessionmaker

In [12]:
Session = sessionmaker(bind=engine)

In [13]:
session = Session()

In [14]:
session.add_all([artist1,artist2])

In [15]:
session.commit()

2018-07-10 17:21:33,107 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:21:33,110 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-10 17:21:33,111 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2018-07-10 17:21:33,113 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-10 17:21:33,114 INFO sqlalchemy.engine.base.Engine ('AC/DC',)
2018-07-10 17:21:33,115 INFO sqlalchemy.engine.base.Engine COMMIT

## Update

dirty
- The set of all persistent instances considered dirty
- Instances are considered dirty when they were modified but not deleted
- 저장된 이후 바뀐 값을 보여줌

In [23]:
session.dirty

IdentitySet([])

In [17]:
session.new

IdentitySet([])

In [24]:
artist1.name = "zzzzzzz"

### 바꿨는데 DB에는 아직 적용이 안됬잖아. 그걸 dirty가 보여줘
- commit 해야함

In [25]:
session.dirty

IdentitySet([<T'artist(name='zzzzzzz')>])

In [26]:
session.commit()

2018-07-10 17:25:01,102 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:25:01,104 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id
FROM artist
WHERE artist.id = ?
2018-07-10 17:25:01,105 INFO sqlalchemy.engine.base.Engine (1,)
2018-07-10 17:25:01,106 INFO sqlalchemy.engine.base.Engine UPDATE artist SET name=? WHERE artist.id = ?
2018-07-10 17:25:01,107 INFO sqlalchemy.engine.base.Engine ('zzzzzzz', 1)
2018-07-10 17:25:01,109 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
session.dirty

IdentitySet([])

In [28]:
session.new

IdentitySet([])

In [29]:
artist1.name = "xyz"

In [30]:
session.add_all([
    Album(title="1",artist_id=1),
    Album(title="2",artist_id=2)
])

In [31]:
session.new

IdentitySet([<__main__.Album object at 0x000002D8754A58D0>, <__main__.Album object at 0x000002D8754A5940>])

In [32]:
session.commit()

2018-07-10 17:26:15,188 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:26:15,191 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id
FROM artist
WHERE artist.id = ?
2018-07-10 17:26:15,192 INFO sqlalchemy.engine.base.Engine (1,)
2018-07-10 17:26:15,193 INFO sqlalchemy.engine.base.Engine UPDATE artist SET name=? WHERE artist.id = ?
2018-07-10 17:26:15,195 INFO sqlalchemy.engine.base.Engine ('xyz', 1)
2018-07-10 17:26:15,197 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-10 17:26:15,198 INFO sqlalchemy.engine.base.Engine ('1', 1)
2018-07-10 17:26:15,199 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-10 17:26:15,200 INFO sqlalchemy.engine.base.Engine ('2', 2)
2018-07-10 17:26:15,202 INFO sqlalchemy.engine.base.Engine COMMIT

In [33]:
session.add_all([
    Genre(name="Rock"),
    Genre(name="Metal")
])

In [34]:
session.add_all([
    Track(title="1-1", album_id=1, genre_id=1),
    Track(title="1-2", album_id=1, genre_id=2),
    Track(title="2-1", album_id=2, genre_id=1),
    Track(title="2-2", album_id=2, genre_id=2)
])

### 그냥 인스턴스만 붙여놓는거야. 아직 안붙었기 때문에 commit을 해줘야돼
- 확인은 session.new

In [36]:
session.commit()

2018-07-10 17:28:44,055 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:28:44,058 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-10 17:28:44,059 INFO sqlalchemy.engine.base.Engine ('Rock',)
2018-07-10 17:28:44,061 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-10 17:28:44,061 INFO sqlalchemy.engine.base.Engine ('Metal',)
2018-07-10 17:28:44,064 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:28:44,065 INFO sqlalchemy.engine.base.Engine ('1-1', 1, 1)
2018-07-10 17:28:44,066 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:28:44,067 INFO sqlalchemy.engine.base.Engine ('1-2', 1, 2)
2018-07-10 17:28:44,069 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:28:44,070 INFO sqlalchemy.engine.base.Engine ('2-1', 2, 1)
2018-07-10 17:28:44,071 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:28:44,072 INFO sqlalchemy.engine.base.Engine ('2-2', 2, 2)
2018-07-10 17:28:44,074 INFO sqlalchemy.engine.base.Engine COMMIT

In [37]:
temp = Track(title="3-3", album_id=3, genre_id=3)

### 아직 DB에 들어가지 않았기 때문에 아무것도 나오지 않는다.

In [41]:
print(temp.id)

None

In [39]:
session.add(temp)

In [40]:
session.new

IdentitySet([<__main__.Track object at 0x000002D8754BE978>])

In [42]:
session.commit()

2018-07-10 17:31:15,746 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:31:15,747 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:31:15,748 INFO sqlalchemy.engine.base.Engine ('3-3', 3, 3)
2018-07-10 17:31:15,749 INFO sqlalchemy.engine.base.Engine COMMIT

### commit으로 반영 완료!

In [43]:
session.new

IdentitySet([])

### 그럼 이제 DB를 거쳐 출력해준다.

In [44]:
print(temp.id)

2018-07-10 17:31:38,639 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:31:38,642 INFO sqlalchemy.engine.base.Engine SELECT track.id AS track_id, track.title AS track_title, track.album_id AS track_album_id, track.genre_id AS track_genre_id
FROM track
WHERE track.id = ?
2018-07-10 17:31:38,643 INFO sqlalchemy.engine.base.Engine (5,)
5

### filter = DB의 where절

In [49]:
for row in session.query(Artist).filter(Artist.id==1):
    print(row.id, row.name)

2018-07-10 17:34:58,509 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
WHERE artist.id = ?
2018-07-10 17:34:58,511 INFO sqlalchemy.engine.base.Engine (1,)
1 xyz