# 0725 필기

### pandas 2가지 역할
- 전처리
- 통계분석 (EDA)
   - 통계치나 그래프로 분석
   - aggregation
   
- 타입은 크게 숫자형, 문자형 밖에 없다.
- 엑셀의 명령형이라고 생각하면 됨

### 모든 데이터를 메모리에 올려서 사용한다.

장점
- 속도가 빠르다.

단점
- 메모리의 범위를 넘어서는 경우는 사용할 수 없다.
- dask 분산처리?

### 숫자형 4개
- 실생활에는 2개 (정수, float, 복소수x)
- 판다스에서도 2개 사용한다.
- True/False는 int에 상속받자너 ㅋㅋ

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

In [11]:
df = pd.read_csv('data-netflix.csv')

In [54]:
df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

In [17]:
type(df.head())

pandas.core.frame.DataFrame

In [16]:
df.head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
title                5 non-null object
rating               5 non-null object
ratingLevel          5 non-null object
ratingDescription    5 non-null int64
release year         5 non-null int64
user rating score    4 non-null float64
user rating size     5 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 360.0+ bytes

### 데이터가 많아질 수록 정규분포가 되버린다.
1. 파라메터
    - 평균/표준편차

In [21]:
df.head().describe()

       ratingDescription  release year  user rating score  user rating size
count           5.000000      5.000000           4.000000          5.000000
mean           86.000000   2009.600000          93.000000         80.400000
std            11.401754      5.176872           7.571878          0.894427
min            70.000000   2004.000000          82.000000         80.000000
25%            80.000000   2006.000000          91.000000         80.000000
50%            90.000000   2008.000000          96.000000         80.000000
75%            90.000000   2014.000000          98.000000         80.000000
max           100.000000   2016.000000          98.000000         82.000000

In [20]:
df.tail().describe()

       ratingDescription  release year  user rating score  user rating size
count           5.000000      5.000000           2.000000               5.0
mean           45.000000   2012.800000          88.500000              81.0
std            13.693064      5.630275          12.020815               1.0
min            35.000000   2003.000000          80.000000              80.0
25%            35.000000   2013.000000          84.250000              80.0
50%            35.000000   2016.000000          88.500000              81.0
75%            60.000000   2016.000000          92.750000              82.0
max            60.000000   2016.000000          97.000000              82.0

In [13]:
df.describe()

       ratingDescription  release year  user rating score  user rating size
count         1000.00000   1000.000000         605.000000       1000.000000
mean            67.36600   2010.335000          84.094215         80.783000
std             30.78561      8.877927          12.344371          0.973066
min             10.00000   1940.000000          55.000000         80.000000
25%             35.00000   2007.000000          75.000000         80.000000
50%             60.00000   2015.000000          88.000000         80.000000
75%             90.00000   2016.000000          95.000000         82.000000
max            124.00000   2017.000000          99.000000         82.000000

### sample - 랜덤하게 보여준다.

In [36]:
df.sample(10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
181,Skins,TV-MA,NaN,110,2017,NaN,82
864,FernGully 2: The Magical Rescue,G,General Audiences. Suitable for all ages.,35,1998,NaN,82
644,The Furchester Hotel,TV-Y,Suitable for all ages.,10,2015,NaN,82
100,The Life Aquatic with Steve Zissou,R,"language, some drug use, violence and partial ...",100,2004,NaN,82
138,Girlboss,TV-MA,NaN,110,2017,94.0,80
933,The Smurfs and the Magic Flute,G,General Audiences. Suitable for all ages.,35,1976,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80
631,Dinotrux,TV-Y7-FV,Suitable for children ages 7 and older. Conte...,42,2017,NaN,82
817,Dino Squad,TV-Y7,Suitable for children ages 7 and older,41,2008,NaN,82
53,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80

-----

### 큰 틀은 데이터프레임
- 행, 열 - 인덱스.
- 0번에 해당하는 한 줄은 시리즈

In [51]:
dm = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)

In [53]:
dm.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### row는 관측치 / column은 변수(구분되는 애들)
- 분석은 결국 2차원 데이터로 시작한다.
- 쪼개진 것을 2차원 데이터로 붙여 놓는 것임

### No header or column names
- head의 default 값은 0

In [111]:
df = pd.read_csv('data-netflix.csv')
df.to_html('hello.html')

UnicodeEncodeError: 'cp949' codec can't encode character '\xc3' in position 5271: illegal multibyte sequence

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
title                1000 non-null object
rating               1000 non-null object
ratingLevel          941 non-null object
ratingDescription    1000 non-null int64
release year         1000 non-null int64
user rating score    605 non-null float64
user rating size     1000 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [114]:
df = pd.read_csv('data-netflix.csv')
df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

### 꺽새가 하나면 series 객체를 반환함 / 2개면 dataFrame 객체임

In [123]:
type(df["title"])

pandas.core.series.Series

In [122]:
type(df[["title"]])

pandas.core.frame.DataFrame

In [131]:
df.to_html('a.html')

UnicodeEncodeError: 'cp949' codec can't encode character '\xc3' in position 5271: illegal multibyte sequence

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 7 columns):
White Chicks                                              999 non-null object
PG-13                                                     999 non-null object
crude and sexual humor, language and some drug content    940 non-null object
80                                                        999 non-null int64
2004                                                      999 non-null int64
82                                                        604 non-null float64
80.1                                                      999 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 54.7+ KB

### index_column

In [74]:
df = pd.read_csv('data-netflix.csv', index_col='ratingDescription')
df.head()

,title,rating,ratingLevel,release year,user rating score,user rating size
ratingDescription,,,,,,
80,White Chicks,PG-13,"crude and sexual humor, language and some drug...",2004,82.0,80
100,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",2006,NaN,82
90,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,2016,98.0,80
90,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,2008,98.0,80
70,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,2014,94.0,80

### Choose only a subset of columns to be read
- 가져올 때부터 버리니?
- 바보 vs 전문가

In [77]:
df = pd.read_csv('data-netflix.csv',usecols=['title','rating','release year'])
df.head()

                   title rating  release year
0           White Chicks  PG-13          2004
1    Lucky Number Slevin      R          2006
2         Grey's Anatomy  TV-14          2016
3           Prison Break  TV-14          2008
4  How I Met Your Mother  TV-PG          2014

### Handling Missing and NA data
- null 값을 지정해줄 수 있음

In [78]:
df = pd.read_csv('data-netflix.csv',na_values=[''])

### Choose whether to skip over blank rows

In [79]:
df = pd.read_csv('data-netflix.csv',skip_blank_lines=False)

In [81]:
df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

### Skip rows

In [85]:
df = pd.read_csv('data-netflix.csv',skiprows=[1,3,7])

In [83]:
df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
1,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
2,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
3,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
4,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80

### Skip rows from footer or from end of the file

In [87]:
df.tail(2)
df = pd.read_csv('data-netflix.csv',skipfooter=2, engine="python")
df.tail(2)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82

### Reading only a subset of the file or a certain rows

In [100]:
df = pd.read_csv('data-netflix.csv',nrows=100)
# numpy에서 shape많이 씀
# pandas는 numpy 기반.
# python 은 c보다 5~100배 느리다.
df.shape

(100, 7)

### Reading JSON data into Pandas

In [102]:
movies_json = pd.read_json('data-netflix.json')

In [104]:
movies_json

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
10,Once Upon a Time,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
100,The Life Aquatic with Steve Zissou,R,"language, some drug use, violence and partial ...",100,2004,NaN,82
101,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
102,The L Word,TV-MA,For mature audiences. May not be suitable for...,110,2009,NaN,82
103,The Office (U.S.),TV-14,Parents strongly cautioned. May be unsuitable ...,90,2012,97.0,80
104,30 Rock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2012,66.0,80
105,Mad Men,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2014,75.0,80
106,It's Always Sunny in Philadelphia,TV-MA,For mature audiences. May not be suitable for...,110,2016,91.0,80
107,Californication,TV-MA,For mature audiences. May not be suitable for...,110,2014,63.0,80
108,Parks and Recreation,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2015,94.0,80
109,Friends,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2003,98.0,80
11,Sherlock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
110,Shameless (U.S.),TV-MA,For mature audiences. May not be suitable for...,110,2016,97.0,80
111,Portlandia,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,62.0,80
112,New Girl,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,91.0,80
113,Don't Trust the B---- in Apartment 23,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2012,NaN,82
114,Friends with Benefits,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2011,NaN,82
115,The Client List,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2013,92.0,80
116,Halt and Catch Fire,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
117,5 to 7,R,some sexual material,100,2014,NaN,82
118,Marvel's Iron Fist,TV-MA,None,110,2017,98.0,80
119,Chef's Table,TV-MA,For mature audiences. May not be suitable for...,110,2017,NaN,82
12,Death Note,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2006,77.0,80
120,Documentary Now!,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,NaN,82
121,Grace and Frankie,TV-MA,For mature audiences. May not be suitable for...,110,2017,90.0,80
122,Better Call Saul,TV-MA,For mature audiences. May not be suitable for...,110,2016,95.0,80
123,The Get Down,TV-MA,For mature audiences. May not be suitable for...,110,2017,80.0,80
124,Schitt's Creek,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,74.0,80
...,...,...,...,...,...,...,...
972,D2: The Mighty Ducks,PG,some mild language and rough hockey action,60,1994,70.0,80
973,"Honey, I Shrunk the Kids",PG,Parental guidance suggested. May not be suitab...,60,1989,80.0,80
974,The Iron Giant,PG,fantasy action and mild language,60,1999,83.0,80
975,The Fox and the Hound 2,G,General Audiences. Suitable for all ages.,35,2006,NaN,82
976,Air Buddies,PG,"some mild, rude humor",60,2006,NaN,82
977,Dr. Dolittle: Tail to the Chief,PG,brief mild language and some rude behavior,60,2008,NaN,82
978,Flicka 2,PG,some reckless behavior,60,2010,NaN,82
979,H2O: Just Add Water,TV-PG,Parental guidance suggested. May not be suitab...,70,2009,74.0,80
98,Cheer Squad,TV-PG,None,70,2016,61.0,80
980,The Gruffalo,TV-Y,Suitable for all ages.,10,2009,NaN,82
981,Dolphin Tale,PG,some mild thematic elements,60,2011,NaN,82
982,Pound Puppies,TV-Y,Suitable for all ages.,10,2013,NaN,82
983,Beverly Hills Chihuahua 3: Viva La Fiesta!,G,General Audiences. Suitable for all ages.,35,2012,NaN,82
984,The Magic School Bus,TV-Y,Suitable for all ages.,10,1997,81.0,80
985,Step Dogs,TV-PG,Parental guidance suggested. May not be suitab...,70,2013,NaN,82
986,PokÃ©mon: Indigo League,TV-Y,Suitable for all ages.,10,2000,74.0,80
987,Mia and Me,TV-Y,Suitable for all ages.,10,2015,NaN,82
988,Paddington,PG,mild action and rude humor,60,2014,70.0,80
989,Russell Madness,PG,some rude humor and sports action,60,2015,NaN,82
99,Only for One Night,TV-MA,None,110,2016,78.0,80
990,My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
992,Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
993,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,None,35,2016,80.0,80

### Reading Pickle
- 객체를 저장할 때 pickle을 사용함.
- 중간 저장을 csv나 pickle로 저장을 함

In [107]:
df = pd.read_pickle('data-netflix.p')
df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

### Reading SQLite3

In [108]:
import sqlite3

In [109]:
conn = sqlite3.connect('data-netflix.sqlite')
df = pd.read_sql_query("SELECT * FROM data_netflix;",conn)
df.head()

,ogc_fid,title,rating,ratinglevel,ratingdescription,release year,user rating score,user rating size
0,1,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82,80
1,2,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NA,82
2,3,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98,80
3,4,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98,80
4,5,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94,80

-----

In [88]:
import seaborn as sns

In [99]:
data = sns.load_dataset('tips', engine='python')

In [98]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [95]:
type(data)

pandas.core.frame.DataFrame

In [96]:
dir(data)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_compare_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

### Keyword
- ad hoc
- no free lunch
- 기계학습
- 통계

In [132]:
df = pd.read_html('a.html')

In [133]:
df

[     Unnamed: 0                                       title rating  \
 0             0                                White Chicks  PG-13
 1             1                         Lucky Number Slevin      R
 2             2                              Grey's Anatomy  TV-14
 3             3                                Prison Break  TV-14
 4             4                       How I Met Your Mother  TV-PG
 5             5                                Supernatural  TV-14
 6             6                                Breaking Bad  TV-MA
 7             7                         The Vampire Diaries  TV-14
 8             8                            The Walking Dead  TV-MA
 9             9                         Pretty Little Liars  TV-14
 10           10                            Once Upon a Time  TV-PG
 11           11                                    Sherlock  TV-14
 12           12                                  Death Note  TV-14
 13           13                                      Naruto  TV-PG
 14           14                                  The Hunter      R
 15           15                       Lottie Dottie Chicken   TV-Y
 16           16                                       Arrow  TV-14
 17           17                                Black Mirror  TV-MA
 18           18                               The Originals  TV-14
 19           19                                     The 100     NR
 20           20                          Masha and the Bear   TV-Y
 21           21             Ãâ Pai, Ãâ - Look at This  TV-MA
 22           22                      Nymphomaniac: Volume 1     NR
 23           23                      Hunter X Hunter (2011)     NR
 24           24                          Marvel's Luke Cage  TV-MA
 25           25                          Marvel's Iron Fist  TV-MA
 26           26                                      Narcos  TV-MA
 27           27                                   The Flash  TV-PG
 28           28                       The Seven Deadly Sins  TV-14
 29           29                                      Scream  TV-14
 ..          ...                                         ...    ...
 970         970                                       Annie     PG
 971         971          An American Tail: Fievel Goes West      G
 972         972                        D2: The Mighty Ducks     PG
 973         973                    Honey, I Shrunk the Kids     PG
 974         974                              The Iron Giant     PG
 975         975                     The Fox and the Hound 2      G
 976         976                                 Air Buddies     PG
 977         977             Dr. Dolittle: Tail to the Chief     PG
 978         978                                    Flicka 2     PG
 979         979                         H2O: Just Add Water  TV-PG
 980         980                                The Gruffalo   TV-Y
 981         981                                Dolphin Tale     PG
 982         982                               Pound Puppies   TV-Y
 983         983  Beverly Hills Chihuahua 3: Viva La Fiesta!      G
 984         984                        The Magic School Bus   TV-Y
 985         985                                   Step Dogs  TV-PG
 986         986                   PokÃÂ©mon: Indigo League   TV-Y
 987         987                                  Mia and Me   TV-Y
 988         988                                  Paddington     PG
 989         989                             Russell Madness     PG
 990         990                           My Animal Friends   TV-Y
 991         991                          Dawn of the Croods  TV-Y7
 992         992                  Alpha and Omega: Dino Digs   TV-G
 993         993                   Wiener Dog Internationals      G
 994         994                                    Pup Star      G
 995         995                                     The BFG     PG
 996         996                     The Secret Life of Pets     PG
 997         997                            Precious Puppies   TV-G
 998         998                                 Beary Tales   TV-G
 999         999                             Growing Up Wild      G

                                            ratingLevel  ratingDescription  \
 0    crude and sexual humor, language and some drug...                 80
 1    strong violence, sexual content and adult lang...                100
 2    Parents strongly cautioned. May be unsuitable ...                 90
 3    Parents strongly cautioned. May be unsuitable ...                 90
 4    Parental guidance suggested. May not be suitab...                 70
 5    Parents strongly cautioned. May be unsuitable ...                 90
 6     For mature audiences. May not be suitable for...                110
 7    Parents strongly cautioned. May be unsuitable ...                 90
 8     For mature audiences. May not be suitable for...                110
 9    Parents strongly cautioned. May be unsuitable ...                 90
 10   Parental guidance suggested. May not be suitab...                 70
 11   Parents strongly cautioned. May be unsuitable ...                 90
 12   Parents strongly cautioned. May be unsuitable ...                 90
 13   Parental guidance suggested. May not be suitab...                 70
 14                         language and brief violence                100
 15                              Suitable for all ages.                 10
 16   Parents strongly cautioned. May be unsuitable ...                 90
 17    For mature audiences. May not be suitable for...                110
 18   Parents strongly cautioned. May be unsuitable ...                 90
 19                      This movie has not been rated.                124
 20                              Suitable for all ages.                 10
 21    For mature audiences. May not be suitable for...                110
 22                      This movie has not been rated.                124
 23                      This movie has not been rated.                124
 24    For mature audiences. May not be suitable for...                110
 25                                                 NaN                110
 26    For mature audiences. May not be suitable for...                110
 27   Parental guidance suggested. May not be suitab...                 70
 28   Parents strongly cautioned. May be unsuitable ...                 90
 29   Parents strongly cautioned. May be unsuitable ...                 90
 ..                                                 ...                ...
 970                     adult content and mld violence                 60
 971          General Audiences. Suitable for all ages.                 35
 972         some mild language and rough hockey action                 60
 973  Parental guidance suggested. May not be suitab...                 60
 974                   fantasy action and mild language                 60
 975          General Audiences. Suitable for all ages.                 35
 976                              some mild, rude humor                 60
 977         brief mild language and some rude behavior                 60
 978                             some reckless behavior                 60
 979  Parental guidance suggested. May not be suitab...                 70
 980                             Suitable for all ages.                 10
 981                        some mild thematic elements                 60
 982                             Suitable for all ages.                 10
 983          General Audiences. Suitable for all ages.                 35
 984                             Suitable for all ages.                 10
 985  Parental guidance suggested. May not be suitab...                 70
 986                             Suitable for all ages.                 10
 987                             Suitable for all ages.                 10
 988                         mild action and rude humor                 60
 989                  some rude humor and sports action                 60
 990                             Suitable for all ages.                 10
 991             Suitable for children ages 7 and older                 41
 992                             Suitable for all ages.                 35
 993          General Audiences. Suitable for all ages.                 35
 994          General Audiences. Suitable for all ages.                 35
 995  for action/peril, some scary moments and brief...                 60
 996                     for action and some rude humor                 60
 997                             Suitable for all ages.                 35
 998                             Suitable for all ages.                 35
 999                                                NaN                 35

      release year  user rating score  user rating size
 0            2004               82.0                80
 1            2006                NaN                82
 2            2016               98.0                80
 3            2008               98.0                80
 4            2014               94.0                80
 5            2016               95.0                80
 6            2013               97.0                80
 7            2017               91.0                80
 8            2015               98.0                80
 9            2016               96.0                80
 10           2016               98.0                80
 11           2016               95.0                80
 12           2006               77.0                80
 13           2008               88.0                80
 14           2011                NaN                82
 15           2009                NaN                82
 16           2015               96.0                80
 17           2016               80.0                80
 18           2016               74.0                80
 19           2016               97.0                80
 20           2013               81.0                80
 21           2007                NaN                82
 22           2013                NaN                82
 23           2013               57.0                80
 24           2016               95.0                80
 25           2017               98.0                80
 26           2016               94.0                80
 27           2016               98.0                80
 28           2016                NaN                82
 29           2016                NaN                82
 ..            ...                ...               ...
 970          1982               68.0                80
 971          1991                NaN                82
 972          1994               70.0                80
 973          1989               80.0                80
 974          1999               83.0                80
 975          2006                NaN                82
 976          2006                NaN                82
 977          2008                NaN                82
 978          2010                NaN                82
 979          2009               74.0                80
 980          2009                NaN                82
 981          2011                NaN                82
 982          2013                NaN                82
 983          2012                NaN                82
 984          1997               81.0                80
 985          2013                NaN                82
 986          2000               74.0                80
 987          2015                NaN                82
 988          2014               70.0                80
 989          2015                NaN                82
 990          2013                NaN                82
 991          2017               72.0                80
 992          2016                NaN                82
 993          2015                NaN                82
 994          2016                NaN                82
 995          2016               97.0                80
 996          2016                NaN                81
 997          2003                NaN                82
 998          2013                NaN                82
 999          2016               80.0                80

 [1000 rows x 8 columns]]