In [1]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine("sqlite:///alchemytest.db", echo=True)

### 기존의 Base 방식

In [12]:
from sqlalchemy.ext.declarative import declarative_base

In [13]:
Base = declarative_base()

### 또 다른 Base 방식

In [14]:
from sqlalchemy.ext.automap import automap_base

In [18]:
Base = automap_base()

In [19]:
Base.prepare(engine, reflect=True)

2018-07-12 10:25:01,779 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:25:01,782 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,785 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:25:01,786 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,788 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-12 10:25:01,789 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,793 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-12 10:25:01,794 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,797 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:01,798 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,801 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-12 10:25:01,802 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,804 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:01,805 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,811 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-12 10:25:01,812 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,814 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:01,815 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,817 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-12 10:25:01,818 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,820 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:01,821 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,823 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 10:25:01,824 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,826 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 10:25:01,827 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,829 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 10:25:01,830 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,838 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 10:25:01,839 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,841 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 10:25:01,842 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,844 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 10:25:01,845 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,849 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-12 10:25:01,850 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,853 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:01,854 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,856 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-12 10:25:01,857 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,858 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:01,860 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,862 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 10:25:01,863 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,865 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 10:25:01,865 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,868 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 10:25:01,869 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,871 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-12 10:25:01,872 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,875 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:01,876 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,878 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-12 10:25:01,879 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,919 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:01,920 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,923 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 10:25:01,924 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,926 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 10:25:01,927 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:25:01,929 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 10:25:01,930 INFO sqlalchemy.engine.base.Engine ()

### 사실 DB작업 안할거면 sessionmaker 안해도됨 ㅋㅋ

In [20]:
from sqlalchemy.orm import sessionmaker

### 엔진이랑 연결해주고

In [21]:
Session = sessionmaker(bind=engine)

### 상속받을 객체 하나 만들어주고

In [22]:
session = Session()

In [24]:
artist = Base.classes.Artist

In [25]:
artist

sqlalchemy.ext.automap.Artist

In [27]:
result = session.query(artist)

In [32]:
for row in result:
    print(row.id, row.name)

2018-07-12 10:29:31,621 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
2018-07-12 10:29:31,623 INFO sqlalchemy.engine.base.Engine ()
1 Led Zepplin
2 AC/DC

# Relationship

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite://",echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
Base = declarative_base()

In [5]:
from sqlalchemy import Column, Integer, String, ForeignKey

In [6]:
from sqlalchemy.orm import relationship

### 기본적으로 N:M 관계 = 리스트 타입
- uselist = True 가 기본 값.
- uselist = False 이면 1:n관계가 생성됨

In [7]:
class Artist(Base):
    __tablename__="artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    album = relationship("Album", back_populates="artist")              # Albumdp 가면 artist라는 애가 있어. 
    
    # 생성자나 함수들을 선언해주면 좋다.
    def __repr__(self):
        return "<T'artist(name='%s')>" % (self.name)
    
class Album(Base):
    __tablename__="album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("artist.id"))                             # uselist = False => 1:n 관계가 생겨버림.
    artist= relationship("Artist", back_populates="album", uselist=False)            # Artist에가면 album이라는 애가 있어
    
class Genre(Base):
    __tablename__="genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)

class Track(Base):
    __tablename__="track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    album_id = Column(Integer, ForeignKey("album.id"))
    genre_id = Column(Integer, ForeignKey("genre.id"))

In [8]:
Base.metadata.create_all(engine)

2018-07-12 10:37:59,230 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:37:59,234 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,236 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 10:37:59,237 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,239 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-12 10:37:59,240 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,242 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-12 10:37:59,243 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,244 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-12 10:37:59,245 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,247 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-12 10:37:59,248 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,251 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-12 10:37:59,252 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,254 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-12 10:37:59,255 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-12 10:37:59,256 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,258 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-12 10:37:59,259 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES artist (id)
)


2018-07-12 10:37:59,260 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,261 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-12 10:37:59,263 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id INTEGER NOT NULL,
	title VARCHAR,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES album (id),
	FOREIGN KEY(genre_id) REFERENCES genre (id)
)


2018-07-12 10:37:59,264 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 10:37:59,265 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
artist1 = Artist(name = "Led Zepplin")
artist2 = Artist(name = "AC/DC")

In [11]:
artist1.album = [Album(title = "IV"),Album(title="Who Made Who")]

In [12]:
artist1.album

In [13]:
from sqlalchemy.orm import sessionmaker

In [14]:
Session = sessionmaker(bind=engine)

In [15]:
session = Session()

In [27]:
session.add(artist1)

In [28]:
session.commit()

2018-07-12 10:45:19,495 INFO sqlalchemy.engine.base.Engine UPDATE album SET title=? WHERE album.id = ?
2018-07-12 10:45:19,496 INFO sqlalchemy.engine.base.Engine ('test', 1)
2018-07-12 10:45:19,498 INFO sqlalchemy.engine.base.Engine COMMIT

### 리스트 단위기 때문에 맞는 형식으로 받아와야 한다.

In [34]:
print(type(artist1.album))

<class 'sqlalchemy.orm.collections.InstrumentedList'>

In [33]:
print(artist1.id,artist1.name, artist1.album[0].title)

2018-07-12 10:45:39,022 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-12 10:45:39,024 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
WHERE artist.id = ?
2018-07-12 10:45:39,025 INFO sqlalchemy.engine.base.Engine (1,)
2018-07-12 10:45:39,027 INFO sqlalchemy.engine.base.Engine SELECT album.id AS album_id, album.title AS album_title, album.artist_id AS album_artist_id
FROM album
WHERE ? = album.artist_id
2018-07-12 10:45:39,028 INFO sqlalchemy.engine.base.Engine (1,)
1 Led Zepplin test123123

### 수정도 간단함ㅋㅋ

In [30]:
artist1.album[0].title = "test123123"

In [31]:
session.add(artist1)

In [32]:
session.commit()

2018-07-12 10:45:36,040 INFO sqlalchemy.engine.base.Engine UPDATE album SET title=? WHERE album.id = ?
2018-07-12 10:45:36,042 INFO sqlalchemy.engine.base.Engine ('test123123', 1)
2018-07-12 10:45:36,043 INFO sqlalchemy.engine.base.Engine COMMIT

### 이렇게 클래스를 선언만 하면 DB 작업이 매우 간단해진다.
- pk가 누구고 fk가 누군지만,
- relationship 만 표현만 하면 orm이 알아서 해줄거임
- 우리는 그냥 session 작업만 해서 commit만 하면 끝이자너 ㅋㅋ쩔지

# HTML5 & CSS3

In [1]:
%%writefile test.html
<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8"/>
		<title>예제</title>
		<meta name = "viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="실습, 데이터진흥원, 노잼"/>
	</head>
	<body>
		<div id = "container">
			<header>
				header
			</header>
			<nav>
				<ul>
					<li>Home</li>
					<li>News</li>
					<li>Contact</li>
					<li>About</li>
				</ul>
			</nav>
			<section>
				<article>
					<h1>Title</h1>
					<p>Content</p>
				</article>
				<article>
					<h1>Title</h1>
					<section>
						<h1>Sub title1</h1>
						<p>Sub Content1</p>
					</section>
					<section>
						<h1>Sub title2</h1>
						<p>Sub Content2</p>
					</section>
				</article>
			</section>
			<aside>
				<section>
					<h1> Advertisement </h1>
					<p>Content</p>
				</section>
				<section>
					<h1> Advertisement </h1>
					<p>Content</p>
				</section>
			</aside>
			<footer>
				footer
			</footer>
		</div>
	</body>
</html>

Writing test.html

In [2]:
%%writefile css.html
<!DOCTYPE html>
<html>
<head>
	<style>
		div {border: 1px solid #aaaaaa;}
		#id {
			color: rgb(0,0,255);
		}
		div.class{
			background-color: yellow;
		}
		p.class{
			color: green;
			font-family: "궁서", "Malgun Gothic",BatangChe, Sans-serif;
			font-size: 3.0em;
		}
		div+p.class{background-color: pink}
	</style>
</head>
<body>
	<div id="id1">Content1</div>
	<div id="id2">Content2</div>
	<div id="id3">Content3</div>
</body>
</html>

Writing css.html

In [4]:
%%writefile css2.html
<!DOCTYPE html>
<html>
<head>
	<style>
		div {border: 1px solid #aaaaaa;}
		#id1 {height: 1000px;}
		#id2 {position: absolute; top: 100px; left: 200px;}
		#id3 {position: fixed; top: 100px; left: 200px;}
	</style>
</head>
<body>
	<div id="id1">Content1</div>
	<div id="id2">Content2</div>
	<div id="id3">Content3</div>
</body>
</html>

Writing css2.html

In [2]:
%%writefile test.html

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8"/>
		<title>예제</title>
		<meta name = "viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="실습, 데이터진흥원, 노잼"/>
	</head>
	<body>
		<div id = "container">
			<header>
				header
			</header>
			<nav>
				<ul>
					<li>Home</li>
					<li>News</li>
					<li>Contact</li>
					<li>About</li>
				</ul>
			</nav>
			<section>
				<article>
					<h1>Title</h1>
					<p>Content</p>
				</article>
				<article>
					<h1>Title</h1>
					<section>
						<h1>Sub title1</h1>
						<p>Sub Content1</p>
					</section>
					<section>
						<h1>Sub title2</h1>
						<p>Sub Content2</p>
					</section>
				</article>
			</section>
			<aside>
				<section>
					<h1> Advertisement </h1>
					<p>Content</p>
				</section>
				<section>
					<h1> Advertisement </h1>
					<p>Content</p>
				</section>
			</aside>
			<footer>
				footer
			</footer>
		</div>
	</body>
</html>

%%writefile css.html
<!DOCTYPE html>
<html>
<head>
	<style>
		div {border: 1px solid #aaaaaa;}
		#id {
			color: rgb(0,0,255);
		}
		div.class{
			background-color: yellow;
		}
		p.class{
			color: green;
			font-family: "궁서", "Malgun Gothic",BatangChe, Sans-serif;
			font-size: 3.0em;
		}
		div+p.class{background-color: pink}
	</style>
</head>
<body>
	<div id="id1">Content1</div>
	<div id="id2">Content2</div>
	<div id="id3">Content3</div>
</body>
</html>

%%writefile css2.html
<!DOCTYPE html>
<html>
<head>
	<style>
		div {border: 1px solid #aaaaaa;}
		#id1 {height: 1000px;}
		#id2 {position: absolute; top: 100px; left: 200px;}
		#id3 {position: fixed; top: 100px; left: 200px;}
	</style>
</head>
<body>
	<div id="id1">Content1</div>
	<div id="id2">Content2</div>
	<div id="id3">Content3</div>
</body>
</html>

Overwriting test.html